{% extends 'base.html.twig' %}
{% block head %}
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
{% endblock %}
{% block body %}
    <div id="app">
        <default brand-name="{{ PRODUCT_NAME }}"></default>
    </div>
{% endblock %}